<div class="left_menu_wrap">
  <div class="left_menu_header"> Content</div>
  <div>
    <%= link_to "All", "#", :id => "all", :class => "graph_for all_link" %>
    <div class="sub_menu">
      <%= link_to "Symptomatics", "#", :id => "symptomatics", :class => "graph_for" %>
      <span class="toggle_plus" id="plus">+</span>
      <span class="toggle_minus" id="minus">-</span>

      <% if !@symptomatics.nil? && !@symptomatics.blank? %>
          <div>
            <ul style="display:none;" class="first_child">
              <% @symptomatics.each do |sympto| %>
                  <li class="li">
                    <%= link_to "#{sympto.condition}", "#", :id => "#{sympto.id}", :class => "graph_for_items" %>
                    <% if !sympto.videos.blank? %>
                        <span class="toggle_plus" id="sub_plus">+</span>
                        <span class="toggle_minus" id="sub_minus">-</span>

                        <ul style="display:none;" class="second_child">
                          <% sympto.videos.each do |video| %>
                              <li class="li no_sub">
                                <%= link_to "#{video.title}", "#", :id => "#{video.id}", :class => "graph_for_items_child" %>
                              </li>
                          <% end %>
                        </ul>
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>

    <div class="sub_menu">
      <%= link_to "Mini Modules", "#", :id => "mini_modules", :class => "graph_for" %>
      <span class="toggle_plus" id="plus">+</span>
      <span class="toggle_minus" id="minus">-</span>

      <% if !@mini_modules.nil? && !@mini_modules.blank? %>
          <div>
            <ul style="display:none;" class="first_child">
              <% @mini_modules.each do |mini_module| %>
                  <li class="li no_sub"> <%= link_to "#{mini_module.title}", "#", :id => "#{mini_module.id}", :class => "graph_for_items" %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>

    <div class="sub_menu">
      <%= link_to "My EQ", "#", :id => "my_eqs", :class => "graph_for" %>
      <span class="toggle_plus" id="plus">+</span>
      <span class="toggle_minus" id="minus">-</span>

      <% if !@my_eqs.nil? && !@my_eqs.blank? %>
          <div>
            <ul style="display:none;" class="first_child">
              <% @my_eqs.each do |my_eq| %>
                  <li class="li">
                    <%= link_to "#{my_eq.emotional_grouping}", "#", :id => "#{my_eq.id}", :class => "graph_for_items" %>
                    <!-- MyEq STEPS END -->
                    <% if !MyEq.steps.blank? %>
                        <span class="toggle_plus" id="sub_plus">+</span>
                        <span class="toggle_minus" id="sub_minus">-</span>

                        <ul style="display:none;" class="second_child">
                          <% MyEq.steps.each_with_index do |step, i| %>
                              <li class="li no_sub">
                                <%= link_to "#{step}", "#", :id => "#{i}", :class => "graph_for_items_child" %>
                              </li>
                          <% end %>
                        </ul>
                    <% end %>
                    <!-- MyEq STEPS END -->
                  </li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>

    <div class="sub_menu">
      <%= link_to "Audio Programs", "#", :id => "audio_programs", :class => "graph_for" %>
      <span class="toggle_plus" id="plus">+</span>
      <span class="toggle_minus" id="minus">-</span>

      <% if !@audio_programs.nil? && !@audio_programs.blank? %>
          <div>
            <ul style="display:none;" class="first_child">
              <% @audio_programs.each do |audio_program| %>
                  <li class="li no_sub"><%= link_to "#{audio_program.title}", "#", :id => "#{audio_program.id}", :class => "graph_for_items" %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
    </div>

    <%= link_to "Health Checkin", "#", :id => "health_checkin", :class => "graph_for" %>
  </div>
</div>
