<div id='more_options_field'>
  <p>
    <%= link_to t('.advanced_options'), "#",
                :id => 'toggle_advanced_options',
                :title => t('.toggle_advanced_options') %>
  </p>
  <span id='draft_field'>
    <%= f.check_box :draft %>
    <%= f.label :draft, t('.save_as_draft'),
                :class => "stripped" %>
  </span>
</div>
<div id='more_options' style="display:none;">
  <div>
    <div class='field'>
      <span class='label_with_help'>
        <%= f.label :show_in_menu, t('.show_in_menu_title'),
                    :id => 'page_show_in_menu_heading' %>
        <%= refinery_help_tag t('.show_in_menu_help') %>
      </span>
      <%= f.check_box :show_in_menu %>
      <%= f.label :show_in_menu, t('.show_in_menu_description'),
                  :class => "stripped" %>
    </div>
  </div>
  <div class='field'>
      <span class='label_with_help'>
        <%= f.label :custom_position, "Order" %>
      </span>
      <%= f.text_field :custom_position %>
      <%= f.label :custom_position, "Order", :class => "stripped"%>
    </div>
  </div>

  <br />


</div>