- url = "www.my5.com.au"

%div{:marginheight => "0", :marginwidth => "0", :style => "margin:0;padding:20px 0 40px;background-color:#FAFAFA;width:100% !important"}
  
  %center
    %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border:1px solid #DDDDDD;background-color:#FFFFFF", :width => "600"}
      %tbody
      
        %tr
          %td{:align => "center", :style => "border-collapse:collapse", :valign => "top"}
            %div{:style => "text-align:center"}
              %a{:href => "http://#{url}", :target => "_blank"}
                %img{:alt => "My 5", :border => "0", :src => "http://#{url}/images/logo.png", :style => "margin:0;padding:0;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none;padding:15px 0"}/
                
        %tr
          %td{:colspan => "3", :style => "border-collapse:collapse;background-color:#FFFFFF", :valign => "top"}
            %div{:style => "color:#464646;font-family:Arial;font-size:14px;line-height:150%;text-align:left;padding:10px 15px;"}
              %h3{:style => "color:#202020;display:block;font-family:Arial;font-size:26px;font-weight:bold;line-height:100%;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left"}
                = yield :email_title
              %br
              = yield :email_body
              %br
              Thanks,
              %p
              The My 5 Team
              %br
              %p{:style => "font-style:italic;font-size:90%"} Note: Please do not reply to this email, it was sent automatically from an unmonitored address.
        / %tr{:border => "0", :cellpadding => "10", :cellspacing => "0", :style => "background-color:#E8E8E8;border-top:0", :width => "600"}
        /   %td{:style => "border-collapse:collapse", :valign => "top"}
        /     %div{:style => "font-family:Arial;text-align:center;margin-top:15px;font-size:14px;"}
        /       %a{:style => "color:#3e3e3e !important;vertical-align:middle;text-decoration:none;margin:0 10px;", :href => "https://twitter.com/#!/semblancesys", :target => "_blank"}
        /         %img{:src => "http://#{url}/images/icons/twitter.png", :style => "margin-bottom:-2px; margin-right: 5px;"}     
        /         Follow us on Twitter
        /       |
        /       %a{:style => "color:#3e3e3e !important;vertical-align:middle;text-decoration:none;margin:0 10px;", :href => "http://www.facebook.com/semblancesystems", :target => "_blank"}
        /         %img{:src => "http://#{url}/images/icons/facebook.png", :style => "margin-bottom:-2px; margin-right: 5px;"}     
        /         Like our Facebook Page
        /       
        /     
        %tr{:border => "0", :cellpadding => "10", :cellspacing => "0", :style => "background-color:#E8E8E8;border-top:0", :width => "600"}
          %td{:style => "border-collapse:collapse", :valign => "top", :width => "350"}
            %div{:style => "color:#000000;font-family:Arial;font-size:12px;line-height:125%;margin:15px 0;text-align:center"}
              %em Copyright &copy; 2011 My 5 Pty Ltd, All rights reserved.
              %br