.padded
  %h1 Sign up

  %h2 Join now for a free 10 day trial!
  %p After the initial 10 days, you will be charged $#{params[:promo_code_enabled] == "true" || (!params[:customer].nil? &&  !params[:customer][:promo_code].nil? && !params[:customer][:promo_code].blank?) ? payment_check(Program.second.try(:price)) :  payment_check(Program.first.try(:price))} for a yearly subscription.

  = semantic_form_for resource, :as => resource_name, :url => customer_confirm_details_url do |f|

    %h3 Account Details
    = f.inputs do
      = f.input :email
      = f.input :password
      = f.input :password_confirmation, :required => true, :label_html => {:class => "double-line"}
      %li
        = f.label :time_zone, "time zone"
        = f.time_zone_select('time_zone', ActiveSupport::TimeZone.all.sort, :default => "Sydney")

    %h3 Payment Details
    = f.radio_button :free_trial_opted, '1', :checked => true
    = label :free_trial_opted_yes, 'Free trial for 10 days'
    = f.radio_button :free_trial_opted, '0'
    = label :free_trial_opted_yes, 'Buy now'
    = f.inputs :for => :credit_card do |card|
      - if resource && (resource.errors[:credit_card].nil? || !resource.errors[:credit_card].empty?)
        %p.alert Please check your credit card details.
        = puts resource.errors
      = card.input :card_number
      = card.input :expiry_month, :label => 'Expiry Date', :collection => (1..12), :include_blank => false, :input_html => {:class => "short"}, :wrapper_html => { :class => "inline" }
      = card.input :expiry_year, :label => false, :collection => (Time.now.year..10.years.from_now.year), :include_blank => false, :input_html => {:class => "short"}, :wrapper_html => { :class => "inline" }
      = card.input :name_on_card
      = card.input :verification, :as => :password, :input_html => {:class => "short"}

    %h3 Billing Address
    = f.inputs do
      = f.input :title, :collection => ['Mr.', 'Ms.', 'Mrs.', 'Miss', 'Dr.', 'Sir.', 'Prof.'], :include_blank => false, :input_html => {:class => "short"}, :required => true
      = f.input :first_name, :required => true
      = f.input :last_name, :required => true
      = f.input :street_1, :required => true
      = f.input :street_2, :required => false
      = f.input :city, :required => true
      = f.input :state, :input_html => {:class => "short"}, :required => true
      = f.input :country, :input_html => {:class => "medium"}, :as => :hidden, :value => "AU"
      = f.input :zip_code, :label => "Postcode", :input_html => {:class => "short"}, :required => true

    - if (params[:promo_code_enabled] == "true" || (!params[:customer].nil? &&  !params[:customer][:promo_code].nil? && !params[:customer][:promo_code].blank?))
      = f.input :promo_code
    = f.input :accept_terms, :label => "I agree that I have read and understood the My 5 #{link_to 'terms and conditions', '/pages/terms-and-conditions', :target => :_blank, :class => 'green'}, including the medical warning.".html_safe, :label_html => {:style => 'width: 100%; margin-left: 0px;'}, :input_html => {:style => 'margin-left: 0px'}, :as => :boolean, :required => true

    .actions
      = render "devise/shared/links"
