= javascript_include_tag 'jquery', 'jquery_ujs','jquery-ui-1.7.1.custom.min'
= javascript_include_tag :defaults, :cache => true
= javascript_include_tag 'my5/lib/ddsmoothmenu'
= javascript_include_tag 'refinery/ui.dropdownchecklist-1.4-min'
= javascript_include_tag 'js_for_graph'
= yield :extra_js
