= javascript_include_tag "jquery.min", "jquery_ujs"
= javascript_include_tag :defaults, :cache => true
= javascript_include_tag "my5/lib/ddsmoothmenu"
= javascript_include_tag "refinery/ui.dropdownchecklist-1.4-min"
= yield :extra_js
