= content_for :email_title do
  Welcome to My 5
= content_for :email_body do
  %p
    Dear #{@customer.first_name},
  %p
    - if @customer.corporation_id.blank?
      Welcome to My5.
    - else
      You have been setup with access to My 5 as part of #{@customer.corporation.name}'s program.
  %p
    A password has been created for your first login:
    %b #{@password}
    
  %p 
    You can change your password after logging in by editing your user profile.
  %p 
    Please enjoy My 5.
  
=render "shared/mail_base"



