= semantic_form_for [:my5, @reminder_email] do |f|

  %h3 Time
  %div
    = link_to @reminder_email.time, "/", :style => "display: none;"
  = f.input :time, :as => :time, :minute_step => 5, :include_blank => false, :input_html => {:class => "short"}, :label => false

  %h3 Frequency
  #{link_to_function('Select All', "$('input[type=checkbox]').attr('checked', true);")} &#124 #{link_to_function('Select None', "$('input[type=checkbox]').attr('checked', false);")}

  = f.input :days_of_week_input, :as => :check_boxes, :collection => @reminder_email.available_inputs

  .clearfix
  - f.buttons do
    = f.submit "Set reminder"
    = link_to 'Cancel', my5_reminder_emails_path, :style => 'margin-left: 1em;'
