%p Company name: #{@email.company_name}
%p Location: #{@email.location}
%p Contact name: #{@email.contact_name}
%p Role: #{@email.role}
%p Email: #{@email.email}
%p Phone: #{@email.phone}
%p Emloyees number: #{@email.employees_number}
%p Comments: #{@email.comments}
