<%= link_to "Download CSV report", '/refinery/reports/download_excel', :class => "button" %>
<div class="filter_index" >
  <div align="right">
    <br/>
    From  <%= text_field_tag "from_date", "", :id => "from_date", :placeholder => "DD/MM/YYYY" %>
    TO <%= text_field_tag "to_date", "", :id => "to_date", :placeholder => "DD/MM/YYYY" %>
  </div>

  <div style='float: right'>
    <%= select_tag("frequency", options_for_select((Customer::FREQUENCY), 1)) %>
  </div>
  <tr>
  <table border="0" style="flaot:left;">
    <tr>
      <td>Company Name :</td>
      <td><%= select_tag("company_id", options_for_select(@companies.map { |company| [company.name, company.id] }), { :include_blank => true }) %><%= image_tag("/images/loader.gif", :id => "loading", :style => "display:none;margin-top:5px;") %></td>
    </tr>

    <tr>
      <td>Department :</td>
      <td><%= select_tag("department_id", options_for_select((Customer::DEPARTMENTS)), { :multiple => true, :size => 5 }) %></td>
    </tr>

    <tr>
      <td>Suburb :</td>
      <td>
        <%= select_tag("city", options_for_select(@locations.map { |location| [location.to_s.humanize, location] }), { :include_blank => true, :multiple => true, :size => 5 }) %>
      </td>
    </tr>
    <tr>
      <td>City :</td>
      <td>
        <%= select_tag("state", options_for_select(@state.map { |state| [state.to_s.humanize, state] }), { :include_blank => true, :multiple => true, :size => 5 }) %>
      </td>
    </tr>
    <tr>
      <td>State :</td>
      <td>
        <%= select_tag("state2", options_for_select(@state2.map { |state| [state.to_s.humanize, state] }), { :include_blank => true,:multiple => true, :size => 5 }) %>
      </td>
    </tr>
    <tr>
      <td>Country :</td>
      <td><%= select_tag("country", options_for_select(@country.map { |country| [country.to_s.humanize, country] }), { :include_blank => true }) %></td>
    </tr>

    <tr>
      <td>Role :</td>
      <td>
        <%= select_tag("role_id", options_for_select(Customer::ROLES.map { |role| [role.to_s.humanize, role] }), { :include_blank => true, :size => 5, :multiple => true }) %>
      </td>
    </tr>
  </table>
  <div class="clear"></div>
  <%= link_to "OK", "#", :id => "Ok", :class => "button ok_bottom" %>
  <div class="clear"></div>
</div>
<br/>
</div>


