<% if  (!@reports.nil? && !@reports.blank?) || (!@custmer_visit.blank? && !@custmer_visit.nil?)  %>
<% if  params[:graph_view] == "1" %>
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {

      console.log(<%= @report_day_array %>);
      var report_day_array = <%= @report_day_array %>
      var report_day_array_array_js = [];
      report_day_array_array_js = jQuery.map(report_day_array, function(n){ return parseInt(n, 10); });
      console.log(report_day_array_array_js);
      console.log(Array.isArray(report_day_array_array_js));
      console.log(Array.isArray(report_day_array));

        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Line - Graph',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                type: 'datetime',

                dateTimeLabelFormats: {
                  hour: '%H:%M',
                  day: '%e %b',
                  week: '%e %b',
                  month: '%b %Y',
                  year: '%b %Y'
                }
            },
            yAxis: {
                title: {
                    text: 'Page views'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                            Highcharts.dateFormat("%e %b'%y", this.x) +': '+ Math.round(this.y).toFixed(1) +' \u00A0 ';
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: 'Visits',
                data: <%= @report_day_array %>,
                pointStart: Date.UTC(<%= @year %>, <%= @month %>, <%= @day %>),
                pointInterval: <%= @round * 24 * 3600 * 1000 %>
            }]
        });
    });
    
});
		</script>


	

<%elsif params[:graph_view] == "2" %>
<div align="right"><%= link_to("COLUMN", '#', :class => "button graphs_type",:id=>"column_graph") %> <%= link_to("BAR", '#', :class => "button graphs_type",:id=>"bar_graph") %>  <%= link_to("PIE", '#', :class => "button graphs_type",:id=>"pie_graph") %></div>
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'column'
            },
            title: {
                text: 'Column graph'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: <%=@report_day_date%>
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            legend: {
                layout: 'vertical',
                backgroundColor: '#FFFFFF',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                shadow: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.x +': '+ this.y +' Visits';
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
                series: [{
                name: 'Visits',
                data: <%=@report_day_array.to_s%>
    
            }]
        });
    });
    
});
</script>
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'bar_container_graph',
                type: 'bar'
            },
            title: {
                text: 'Bar graph'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: <%=@report_day_date%>
            },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                }
            },
            legend: {
                layout: 'vertical',
                backgroundColor: '#FFFFFF',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                shadow: true
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.x +': '+ this.y +' Visits';
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
                series: [{
                name: 'Visits',
                data: <%=@report_day_array.to_s%>
    
            }]
        });
    });
    
});
</script>
<% if @pie_sum_totals.to_i > 0 %>
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'pie_container_graph',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Pie graph'
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
                        }
                    }
                }
            },
             series: [{
                type: 'pie',
                name: 'Visits in %',
                data: <%= @pie_graph_view_data %>
            }]
        });
    });
    
});
</script>
<%end%>
<%elsif params[:graph_view] == "3" %>
<%= render 'screen_2' %>
<%end%>
<%if params[:graph_view] == "1" %>
<div style="border:5px grey solid;">
<div id="container" style="min-width:900px;min-height: 400px; margin: 0 auto;"></div>
</div>
<br /><br />
<%= render 'graph_condition' %>

<%end%>

<%if params[:graph_view] == "2" %>
<p></p>
<div id="main_container">
<div id="container" style="min-width:900px;min-height: 400px; margin: 0 auto;float:left;border:4px grey solid;"></div>
</div>
<div id="bar_container" style="display: none;">
<div id="bar_container_graph" style="min-width: 900px;min-height: 400px; margin: 0 auto;float:left;border:4px grey solid;"></div>
</div>
<div id="pie_container" style="display: none;">
  <% if @pie_sum_totals.to_i > 0 %>
     <div id="pie_container_graph" style="min-width: 900px;min-height: 400px; margin: 0 auto;float:left;border:4px grey solid;"></div>
  <%else%>
      <div id="pie_container_graph" style="min-width: 900px; height: 400px; margin: 0 auto">No Records Found </div>
  <%end%>
</div>
<%end%>

<% else %>
<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto">No Records Found </div>
<% end %>
<%= hidden_field_tag "graph_view",params[:graph_view]%>


