= stylesheet_link_tag "refinery/reports/index"
= stylesheet_link_tag "my5/lib/jquery.ui.accordion"

- content_for :after_javascript_libraries do 
  = javascript_include_tag "my5/lib/jquery-ui-1.8.20.custom.min"
  = javascript_include_tag "my5/refinery/reports/index"

%div.double_column
  = label_tag "Company_Name"
  = select_tag "Company Name", options_for_select(Corporation.available_for_form), :include_blank => true

  = label_tag "Department"
  = select_tag "Department", options_for_select(Department.available_for_form), :include_blank => true

  = label_tag "City"
  = select_tag "City", options_from_collection_for_select(@customers_city_state, "city", "city"), :include_blank => true

  = label_tag "State"
  = select_tag "State", options_from_collection_for_select(@customers_city_state, "state", "state"), :include_blank => true

  = label_tag "Role"
  = select_tag "Role", options_for_select(Customer::ROLES.inject({"" => ""}) {|k,v| k.merge({v.humanize => v.to_s})})

%div.double_column
  %h6 Date Range
  = label_tag "From:"
  = text_field_tag "from", @from.strftime("%d-%m-%Y")
  = label_tag "To:"
  = text_field_tag "to", @to.strftime("%d-%m-%Y")
  
%div.single_column
  %div#report_page_filters.accordion
    %h3
      = link_to "Content", "#content_pages", :class => 'btn'
    %div
      %ul
        %li All
        %li Symptomatics
        %li Mini Modules
        %li My EQ
        %li Audio Programs
        %li My Health Check in
    %h3
      = link_to "Time", "#time", :class => 'btn'
    %div
      %ul
        %li All
        %li Symptomatics
        %ul
          = list_of(Symptomatic.all) do |symptomatic|
            = symptomatic.condition
        %li Mini Modules
        %ul
          = list_of(MiniModule.all) do |mm|
            = mm.title
        %li My EQ
        %ul
          = list_of(MyEq.all) do |eq|
            = eq.emotional_grouping
        %li Audio Programs
        %ul
          = list_of(AudioProgram.all) do |ap|
            = ap.title
        %li My Health Check in
    %h3
      = link_to "Frequenecy", "#frequency", :class => 'btn'
    %div
      %ul
        %li All
        %li Symptomatics
        %ul
          = list_of(Symptomatic.all) do |symptomatic|
            = symptomatic.condition
        %li Mini Modules
        %ul
          = list_of(MiniModule.all) do |mm|
            = mm.title
        %li My EQ
        %ul
          = list_of(MyEq.all) do |eq|
            = eq.emotional_grouping
        %li Audio Programs
        %ul
          = list_of(AudioProgram.all) do |ap|
            = ap.title
        %li My Health Check in
  %div.double_column


/ %h1 User Reports
/ %h2.top Detailed customer report
/ %p This report lists all customers (corporate and retail) and their specific details, including:
/ %ul
/   %li User ID
/   %li Title
/   %li First name
/   %li Surname
/   %li Department
/   %li Organisation
/   %li Suburb
/   %li Postcode
/   %li User type (Corporate or Consumer)
/   %li Last login date
/   %li Last login duration
/   %li Login time last 30 days
/   %li Login time last 90 days
/   %li Time per section (each of the four sections) last 30 days
/   %li Time per section (each of the four sections) last 90 days

/ %p= link_to "Download CSV report", '/refinery/reports.csv', :class => "button"

/ %h1 Aggregate Reports
/ %h2.top Analytics overview
/ %ul#ga_overview.stats
/   %li
/     .number= @visitors
/     .text Total visitors
/   %li
/     .number= number_to_human(@pageviews, :units => :large_number_shorthand, :format => "%n%u")
/     .text Total pageviews 
/   %li.last
/     .number #{@bouncerate}%
/     .text Bouncerate
    
/ .separator

/ %h2 Time per section over the last 30 days
/ #time_per_section_30_days
/ = render :partial => "shared/column_chart", :locals => {:axis_labels => ['Four weeks ago', 'Three weeks ago', 'Last week', 'This week'], :data_series_labels => ["Dashboard", "Symptomatics", "Mini Modules", "My EQs", "Audio Programs"], :data_sets => [@time_in_dashboard_30_days, @time_in_symptomatics_30_days, @time_in_mini_modules_30_days, @time_in_my_eqs_30_days, @time_in_audio_programs_30_days], :div => "time_per_section_30_days", :data_type => 'number', :width => 1230, :height => 400}

/ .separator

/ %h2 Time per section over the last 90 days
/ #time_per_section_90_days
/ = render :partial => "shared/column_chart", :locals => {:axis_labels => ['Two months ago', 'Last month', 'This month'], :data_series_labels => ["Dashboard", "Symptomatics", "Mini Modules", "My EQs", "Audio Programs"], :data_sets => [@time_in_dashboard_90_days, @time_in_symptomatics_90_days, @time_in_mini_modules_90_days, @time_in_my_eqs_90_days, @time_in_audio_programs_90_days], :div => "time_per_section_90_days", :data_type => 'number', :width => 1230, :height => 400}