<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/refinery/reports/jsDatePick_ltr.min.css" />
<script type="text/javascript" src="/javascripts/date/jsDatePick.min.1.3.js"></script>
<script src="/javascripts/jquery-1.7.2.js"></script>
<script src="/javascripts/highcharts.js"></script>
<script src="/javascripts/exporting.js"></script>
<script src="/javascripts/js_for_screen1.js"></script>

<h1> Detailed customer report</h1>


<%= render 'filter_index' %>


<div id="graph_filter" style="margin-top:40px;">
<%= link_to("Content", '#', :class => "button screens",:id=>"screen_1",:style=>"backgroundColor:#22A7F2;") %> <%= link_to("Time", '#', :class => "button screens",:id=>"screen_2") %>  <%= link_to("Frequency", '#', :class => "button screens",:id=>"screen_3") %>    <%= image_tag("/images/loading.gif", :id=>"loader",:style=>"display:none;margin-top:5px;") %>
<div style="width: 100%; margin: 10px;"></div>
</div>


<table style="width:100%;">
<tr>
<td style="width:30%;" valign="top">
<%= render 'left_menu' %>
</td>
<td style="width:70%;border:2px solid grey;" valign="top">
<div id="graph" style="margin-top:20px;" ><%= render 'graph_screen' %></div>
</td>
</tr>
</table>




<script language="javascript" type="text/javascript">
  $(document).ready(function() {
     $('#screen_1').live('click',function(e) {
         change_color_of_screen();
         $('.graph_for').css("color","black").css("border","0px black solid");
         $('.graph_for_items').css("color","black").css("border","0px black solid");
         $('.graph_for_items_child').css("color","black").css("border","0px black solid");
         $(this).css("backgroundColor","green");
         if ( $('#department_id').val() != null)
            $("#buttons_separate_merged").show();
        graph_view(1,"all","","");
        return false;
     });
     $('#screen_2').live('click',function(e) {
         change_color_of_screen();
         $('.graph_for').css("color","black").css("border","0px black solid");
         $('.graph_for_items').css("color","black").css("border","0px black solid");
         $('.graph_for_items_child').css("color","black").css("border","0px black solid");
         $(this).css("backgroundColor","green");
         $("#buttons_separate_merged").hide();
        graph_view(2,"all","","");
         return false;
     });
     $('#screen_3').live('click',function(e) {
         change_color_of_screen();
         $('.graph_for').css("color","black").css("border","0px black solid");
         $('.graph_for_items').css("color","black").css("border","0px black solid");
         $('.graph_for_items_child').css("color","black").css("border","0px black solid");
         $(this).css("backgroundColor","green");
         graph_view(3,"all","","");
         $("#buttons_separate_merged").hide();
         return false;
     });

     $('#separated').live('click',function(e) {
         change_color_of_screen();
         $('.graph_for').css("color","black").css("border","0px black solid");
         $('.graph_for_items').css("color","black").css("border","0px black solid");
         $('.graph_for_items_child').css("color","black").css("border","0px black solid");
         $(this).css("backgroundColor","green");
         department_view_mode("separated","all");
         return false;
     });


      $('#merged').live('click',function(e) {
         change_color_of_screen();
         $('.graph_for').css("color","black").css("border","0px black solid");
         $('.graph_for_items').css("color","black").css("border","0px black solid");
         $('.graph_for_items_child').css("color","black").css("border","0px black solid");
         $(this).css("backgroundColor","green");
         department_view_mode("merged","all");
         return false;
     });



     $('#company_id').live('change',function(e) {
        company_filter("all",$(this).val(),"","","","","");
        return false;
     });
     $('#city').live('change',function(e) {
        company_filter("all","",$(this).val(),"","","");
        return false;
     });
     $('#role_id').live('change',function(e) {
        company_filter("all","","","",$(this).val(),"","");
        return false;
     });
     $('#state').live('change',function(e) {
        company_filter("all","","","",$(this).val(),"");
        return false;
     });
     $('#country').live('change',function(e) {
        company_filter("all","","","","","",$(this).val());
        return false;
     });
     $('#department_id').live('change',function(e) {
        if ( $('#department_id').val() != null)
            $("#buttons_separate_merged").show();
        else $("#buttons_separate_merged").hide();
        company_filter("all","",$(this).val(),"","","","");
        return false;
     });
     $('.graph_for').live('click',function(e) {
        var page_type = $(this).attr('id');
        $('.graph_for').css("color","black").css("border","0px black solid");
        $('.graph_for_items').css("color","black").css("border","0px black solid");
        $('.graph_for_items_child').css("color","black").css("border","0px black solid");
        $(this).css("color","#3E576F").css("border","1px black solid");
        var graph_views = $("#graph_view").val();
        graph_view(graph_views,page_type,"","");
         return false;
     });
     $('.graph_for_items').live('click',function(e) {
        $('.graph_for').css("color","black").css("border","0px black solid");
        $('.graph_for_items').css("color","black").css("border","0px black solid");
        $('.graph_for_items_child').css("color","black").css("border","0px black solid");
        $(this).closest('div').parent().find(".graph_for").css("color","#3E576F").css("border","1px black solid");
        $(this).css("color","#3E576F").css("border","1px black solid");
        var page_type = $(this).closest('div').parent().find(".graph_for").attr('id');
        var page_id = $(this).attr('id');
        var graph_views = $("#graph_view").val();
        graph_view(graph_views,page_type,page_id,"");
        return false;
     });
     $('.graph_for_items_child').live('click',function(e) {
        $('.graph_for').css("color","black").css("border","0px black solid");
        $('.graph_for_items').css("color","black").css("border","0px black solid");
        $('.graph_for_items_child').css("color","black").css("border","0px black solid");
        $(this).closest('div').parent().find(".graph_for").css("color","#3E576F").css("border","1px black solid");
        $(this).closest('.graph_for_items').css("color","#3E576F").css("border","1px black solid");
        $(this).css("color","#3E576F").css("border","1px black solid");
        var page_type = $(this).closest('div').parent().find(".graph_for").attr('id');
        var page_id = $(this).closest('ul.second_child').parent().find(".graph_for_items").attr('id');
        var video_id = $(this).attr('id');
        var graph_views = $("#graph_view").val();
        graph_view(graph_views,page_type,page_id,video_id);
        return false;
     });
     $('#Ok').live('click',function(e) {
        $('.graph_for').css("color","black").css("border","0px black solid");
        $('.graph_for_items').css("color","black").css("border","0px black solid");
        $('.graph_for_items_child').css("color","black").css("border","0px black solid");
        var graph_views = $("#graph_view").val();
        graph_view(graph_views,"all","","");
     });
     $('#plus').live('click',function(e) {
        var submenu = $(this).closest('div')
        submenu.find("#minus").css("display","inline");
        $(this).css("display","none");
        submenu.find('ul.first_child').css("display","inline");
        return false;
     });
     $('#sub_plus').live('click',function(e) {
        var submenu = $(this).closest('li')
        submenu.find("#sub_minus").css("display","inline");
        $(this).css("display","none");
        submenu.find('ul').css("display","inline");
        return false;
     });
     $('#sub_minus').live('click',function(e) {
        var submenu = $(this).closest('li')
        submenu.find("#sub_plus").css("display","inline");
        $(this).css("display","none");
        submenu.find('ul').css("display","none");
        return false;
     });
     $('#minus').live('click',function(e) {
        var submenu = $(this).closest('div')
        submenu.find("#plus").css("display","inline");
        submenu.find("#sub_minus").css("display","none");
        submenu.find("#sub_plus").css("display","inline");
        submenu.find("ul.second_child").css("display","none");
        $(this).css("display","none");;
        submenu.find('ul').css("display","none");;
        return false;
     });
     $('#column_graph').live('click',function(e) {
        $('#main_container').show("fast");
        $('#bar_container').hide("fast");
        $('#pie_container').hide("fast");
        return false;
     });
     $('#bar_graph').live('click',function(e) {
        $('#main_container').hide("fast");
        $('#bar_container').show("fast");
        $('#pie_container').hide("fast");
        return false;
     });
     $('#pie_graph').live('click',function(e) {
        $('#main_container').hide("fast");
        $('#bar_container').hide("fast");
        $('#pie_container').show("fast");
        return false;
     });
 });

 function change_color_of_screen()
 {
   $('.screens').each(function(index) {
     $(this).css("backgroundColor","#22A7F2");
   });
 }

  function department_view_mode(dep_mode, page)
  {
      $('.graph_for').css("color","black").css("border","0px black solid");
      $('.graph_for_items').css("color","black").css("border","0px black solid");
      $('.graph_for_items_child').css("color","black").css("border","0px black solid");
      var from_date= $('#from_date').val();
      var to_date = $('#to_date').val();
      var graph_views = $("#graph_view").val();
      var company_id = $('#company_id').val();
      var department_id = $('#department_id').val();
      var location_name = $('#city').val();
      var role = $('#role_id').val();
      var state = $('#state').val();
      var country = $('#country').val();
      var frequency = $("#frequency").val();
      var dep_mode = dep_mode;
      $.ajax({
          type: "GET",
          async: false,
          url: "/refinery/reports/screen1",
          data:{"graph_view":graph_views,"page":page,"company_id":company_id,"department_id":department_id,"location":location_name,"role":role,"state":state,"country":country,"from_date":from_date,"to_date":to_date, "frequency": frequency, "department_view_mode": dep_mode},
          beforeSend: function() {
              $("#loader").show('fast');
              $('#screen_'+graph_views).css("backgroundColor","green");
          },
          success: function(data) {
              $("#loader").hide('fast');
          }
      });

  }

  function company_filter(page,company_id,department_id,location_name,role,state,country)
  {
      $('.graph_for').css("color","black").css("border","0px black solid");
      $('.graph_for_items').css("color","black").css("border","0px black solid");
      $('.graph_for_items_child').css("color","black").css("border","0px black solid");
      var from_date= $('#from_date').val();
      var to_date = $('#to_date').val();
      var graph_views = $("#graph_view").val();
      if(company_id == "")
      {
          company_id = $('#company_id').val();
      }
      if(department_id == 'null')
      {
          department_id = $('#department_id').val();
      }
      if(location_name == "")
      {
          location_name = $('#city').val();
      }
      if(role == "")
      {
          role = $('#role_id').val();
      }
      if(state == "")
      {
          state = $('#state').val();
      }
      if(country == "")
      {
          country = $('#country').val();
      }
      if($.trim(graph_views) == "undefined"  || graph_views == "")
      {
          graph_views = 1;
      }
      var frequency = $("#frequency").val();
      var dep_mode;
      var department_views = $("#department_view_mode").val();
      if (graph_views == "1")
        if (department_views == 'undefined' || department_views == "")
            dep_mode = "separated"
        else
            dep_mode = $("#department_view_mode").val();
      else
        dep_mode = "separated"

      $.ajax({
          type: "GET",
          async: false,
          url: "/refinery/reports/screen1",
          data:{"graph_view":graph_views,"page":page,"company_id":company_id,"department_id":department_id,"location":location_name,"role":role,"state":state,"country":country,"from_date":from_date,"to_date":to_date, "frequency": frequency, "department_view_mode": dep_mode},
          beforeSend: function() {
              $("#loader").show('fast');
              $('#screen_'+graph_views).css("backgroundColor","green");
          },
          success: function(data) {
              $("#loader").hide('fast');
          }
      });
  }
  function graph_view(id, page,page_id,video_id)
  {
      console.log('graph_view');
      var from_date= $('#from_date').val();
      var to_date = $('#to_date').val();
      var company_id = $('#company_id').val();
      var department_id = $('#department_id').val();
      var location_name = $('#city').val();
      var role = $('#role_id').val();
      var state = $('#state').val();
      var country = $('#country').val();
      var frequency = $("#frequency").val();
      if (id == 1)
          dep_mode = $("#department_view_mode").val();
      else
          dep_mode = "separated"


      $.ajax({
          type: "GET",
          async: false,
          url: "/refinery/reports/screen1",
          data:{"graph_view":id,"page":page,"page_id":page_id,"company_id":company_id,"department_id":department_id,"from_date":from_date,"to_date":to_date,"location":location_name,"state":state,"country":country,"role":role,"video_id":video_id, "frequency": frequency, "department_view_mode": dep_mode},
          beforeSend: function() {
              $("#loader").show('fast');
          },
          complete: function(data) {
          },
          success: function(data) {
              $("#loader").hide('fast');
          }
      });

  }

</script>
<script type="text/javascript">
	window.onload = function(){
        $(document).ready(function() {
            $('#department_id').dropdownchecklist( {icon: {}, width: 70,  maxDropHeight: 150 });
        });
		new JsDatePick({
			useMode:2,
			target:"from_date",
			dateFormat:"%d-%m-%Y"
		});
		new JsDatePick({
			useMode:2,
			target:"to_date",
			dateFormat:"%d-%m-%Y",
			imgPath:"img/"
		});
    $("#Ok").click();
	};
</script>

